@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Prompt:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Prompt:wght@400;500;600&display=swap');

*{
	margin: 0;
	border: 0;
	padding: 0;
	box-sizing: border-box;	
}

.container-fluid{
	padding: 0;
	margin: 0;
}

p,li{

	font-family: 'Lexend Deca', sans-serif;
    font-size: 17px;

}

h1,h5{

	font-family: 'Prompt', sans-serif;
}
